.card {
    margin-bottom: 0px;
}
.row.selection-div {
    padding: 1% 15%;
    font-size: 20px;
    font-weight: 600;
}
.selection-div .col-sm-4 {
    text-align: center;
    border: 1px solid black;
    background-color: #eeeeee;
}
.selection-div .col-sm-4:hover {
    background-color: #a1aab2;
}
.selection-div .col-sm-4.active {
    background-color:#5bb35b6b;
}
.floatL.result{
    border: 1px solid black;
    margin-top: 5%;
    background: aliceblue;
}
form{
    height: 490px;
}